//@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

h1, h2, h3, p {
  color: #39374b;
}

html {
  scroll-behavior: smooth;
}

.logo {
  //font-family: 'Koulen', cursive;
  font-family: 'Space Mono', monospace;
  text-align: center;
  color: whitesmoke;
  font-size: 3rem;
}

.v-icon.v-icon::after {
  //transition: none !important;
  background-color: transparent !important;
}

h1 {
  font-size: 3rem;
  width: max-content;
}

.page-divider {
  background-color: gray;
  height: 1px;
  opacity:25%;
  margin-bottom: 3rem;
}
